QDRANT_PORT=<qdrant_port>
QDRANT_URL=<qdrant_url>

OLLAMA_PORT=<ollama_port>
OLLAMA_URL=<ollama_url>

PIPELINES_PORT=<pipelines_port>
PIPELINES_API_KEY=<pipelines_api_key>

AGNO_PORT=<agno_port>

OPENWEBUI_PORT=<openwebui_port>

LOMA_MODEL=<loma_model>
ROUTER_MODEL=<router_model>
EMBEDDING_MODEL=<embedding_model>
EMBEDDING_DIMS=<embedding_dimensions>

POSTGRES_PORT=<postgres_port>
POSTGRES_USR=<postgres_usr>
POSTGRES_PWD=<postgres_pwd>